LoginScreen {
    layout: vertical;
    align: center middle;
    border: thick $background 80%;
    background: $surface;
}
LoginScreen * {
    text-align: center;
    max-width: 40;
    align: center middle;
    width: 100%;
}
.hidden {
    display: none;   
}
#error {
    color: red;
}